
/*
 * {
    border: red 1px solid
}
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    min-width: 350px;
    padding: 0;
    margin: 0;
}
 
.hero,
.header {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 0 200px;
}


.header {
    display: flex;
    
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 200px;
    gap: 80px;
}

.hero > * {
    flex-basis: 100%;
}

.greeting-text {

}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-grow: 1;
    left-margin: 32px;
    min-width: 412px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 25px;
}
