
/* shortcut for commenting is ctrl+/ */


 /* * {
    border: red 1px solid
} */

/*/// Utility Selectors ///*/

.flex {
    display: flex;
}


/*/// Selectors ///*/


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    min-width: 350px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

 
.hero,
.header {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 0 200px;
}


.header {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.logo {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 200px;
    gap: 80px;
}

.hero > * {
    flex-basis: 100%;
}

.greeting-text p {

}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-grow: 1;
    margin-left: 32px;
    min-width: 412px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.illustrations {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    height: 150px;
    padding: 0px 400px;
    gap: 30px;
}

.box {
    height: 100px;
    width: 100px;
    border: #3882f6 solid 3px;
    border-radius: 15px;
    flex-shrink: 0;
    color: white;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 25px;
}

.box-text {
    overflow-wrap: normal;
    width: 100px;
    text-align: center;
    font-size: 10px;
    color: #1f2937
}

.grouped {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100px;
}

.qoutebox {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 350px;
}

.grouped-qoute {
    display: flex;
    flex-direction: column;
}

.qoute {
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    word-wrap: normal;

}

.qoute-by {
    text-align: right;
    font-weight: bold;
}

